body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginPage {
  position: relative;
  text-align: center;
}

.quote {
  position: absolute;
  color: white;
  font-size: larger;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginForm input {
  height: 25px;
  width: 340px;
  border-radius: 5px;
}

.loginForm button {
  height: 30px;
  border-radius: 5px;
}
